@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.list{
    margin-top: 20px;
}

h3{
    border: 2px solid white;
    padding: 20px 24px;
    text-align: left;
    margin-top: 10px;
    width: 80%;
    font-family: 'Roboto Condensed', sans-serif;
}

.flex{
    display: flex;
}