@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.input{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.note{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    width: 40%;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 20px;
    padding: 10px 10px;
    width: 20%;
    font-size: 1rem;
}

@media screen and (max-width:760px){
    .note{
        width: 90%;
    }
}

@media screen and (max-width:360px){
    .input{
        flex-direction: column;
    }
}